@model IEnumerable<BarcelonaAPIREST.DTOs.JugadorDTO>

@{
	Layout = "_Layout";
    ViewData["Title"] = "Jugadores";
    ViewData["BodyClass"] = "FondoBarcelona";
}


<h1>Jugadores</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Crear nuevo jugador</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                Foto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEquipo)
                </td>
                <td>
                    <img src="@Url.Content(item.Foto)" alt="Foto del jugador" class="img-fluid" style="max-width: 80px;" />
                </td>
                <td>
                    
                </td>
            </tr>
        }

       
    </tbody>
</table>