@model IEnumerable<BarcelonaAPIREST.Domain.Jugador>

@{
	Layout = "_Layout"; 
}

<h1>Lista de Jugadores</h1>

<p>
    <a asp-action="Crear">Crear nuevo jugador</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Posicion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jugador in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => jugador.Name)</td>
                <td>@Html.DisplayFor(modelItem => jugador.Posicion)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@jugador.Id">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@jugador.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>