@model List<BarcelonaAPIREST.Domain.Jugador>

@{
	Layout = "_Layout";
	ViewData["Title"] = "Pagina de Inicio";
}

<h1>Bienvenido a la API REST de Barcelona</h1>

<p>

	<a asp-action="Create" class="btn btn_primary">Agregar Jugador</a>

</p>

<table class="table table-striped table-hover">

	<thead class="theat-dark">

		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Posición</th>
		</tr>

	</thead>
	<tbody>

		@foreach (var jugador in Model)
		{
			<tr>
				<td>@jugador.Id</td>
				<td>@jugador.Name</td>
				<td>@jugador.Posicion</td>
				<td>
					<a asp-action="Details" asp-route-id="@jugador.Id" class="btn btn-info">Detalles</a>
					<a asp-controller="Edit" asp-route-id="@jugador.Id" class="btn btn-warning">Editar</a>
					<a asp-action="Delete" asp-route-id="@jugador.Id" class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		}



	</tbody>

</table>